.drawing-board{
    height: 100%;
    background-color: #f1f3f4;
}

.drawing-board-content{
    display: grid;
    grid-template-columns: 80px 1fr;
    // grid-gap: 10px;
    padding: 10px;
    height: 95%;

}

.drawing-section{
    padding: 10px;
}

#board{
    border: 3px solid #dadce0;
    background-color: white;
    border-radius: 10px;
}

#eraser-cursor{
    background-color: white;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    pointer-events: none;
    position: absolute;
    display: none;
}