.container{
    background-color: #f1f3f4;
    overflow: hidden;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}


.main-container{
    padding: 10px;
    overflow-y: scroll;

}