<div class="preview-board-container" (click)="openBoard()">
    <div class="preview-board">

    </div>
    <div class="board-info">
        <div class="board-info-content">
            <h5 class="board-title">This is a demo board</h5>
            <div class="board-bottom-info">
                <div class="board-left-bottom-info">
                    <img src="https://cdn-icons-png.flaticon.com/512/763/763789.png" alt="" class="board-icon">
                    <p class="board-created-date">Oct 29, 2022</p>
                </div>
                <i class="fi fi-br-menu-dots-vertical"></i>
            </div>
        </div>
    </div>
</div>