<div class="drawing-board-navbar">
    <div class="drawing-board-navbar-content">
        <div class="left-option">
            <div class="arrow-icon"><i class="fi fi-br-arrow-small-left"></i></div>
            <div class="arrow-icon"><i class="fi fi-br-arrow-small-right"></i></div>
            <div class="vert-division"></div>
            <div>
                <div class="title-option bg-option" (click)="openBackgroundOption()" >Set background</div>
                <app-dropdown *ngIf="isChangeBg" [chosenOption]="boardService.chosenBg" [options]="toolsService.bgBoardOption" (changeOptionEvent)="changeBackground($event)"></app-dropdown>
            </div>
            <div class="vert-division"></div>
            <div class="title-option" (click)="clearBoard()">Clear board</div>
        </div>
        <div class="right-option">
            <button>Share</button>
            <div>
                <i class="fi fi-br-menu-dots-vertical"></i>
            </div>
        </div>
    </div>
</div>