<div class="drawing-board-navbar">
    <div class="drawing-board-navbar-content">
        <div class="left-option">
            <div class="arrow-icon"><i class="fi fi-br-arrow-small-left"></i></div>
            <div class="arrow-icon"><i class="fi fi-br-arrow-small-right"></i></div>
            <div class="vert-division"></div>
            <div class="title-option">Set background</div>
            <div class="vert-division"></div>
            <div class="title-option">Clear frame</div>
        </div>
        <div class="right-option">
            <button>Share</button>
            <div>
                <i class="fi fi-br-menu-dots-vertical"></i>
            </div>
        </div>
    </div>
</div>